{% extends "housesApp/base.html" %}
{% load static %}
{% block content %}
<h2 class="text-center mb-4">Find your perfect Nyumba</h2>

<div class="row">
    {% for house in houses %}
    <div class="col-md-4 mb-4">
        <div class="house-card">
            {% if house.image %}
            <img src="{{ house.image.url }}" class="img-fluid rounded mb-2">
            {% else %}
            <img src="{% static 'images/pexels-davidmcbee-1546166.jpg' %}" class="img-fluid rounded mb-2">
            {% endif %}

            <h5>{{ house.title }}</h5>
            <p>{{ house.location }}</p>
            <p class="fw-bold">Ksh {{ house.price }}</p>

            <a href="{% url 'housesApp:house_detail' house.pk %}" class="btn btn-primary w-100">
                View Details
            </a>
        </div>
    </div>
    {% empty %}
        <p>No houses available.</p>
    {% endfor %}
</div>
{% endblock %}
